Source: rtai
Section: misc
Priority: extra
Maintainer: Moses McKnight <moses@skytex.net>
Build-Depends: linux-headers-2.6.32-122-rtai

Package: rtai-modules-2.6.32-122-rtai
Architecture: any
Description: Real Time modules for linux-image-2.6.32-122-rtai
Depends: linux-image-2.6.32-122-rtai
