Source: rtai
Section: misc
Priority: extra
Maintainer: Sebastian Kuzminsky <seb@highlab.com>
Build-Depends: debhelper, autoconf, linux-headers-3.4.53-2-rtai

Package: rtai-modules-3.4.53-2-rtai
Architecture: any
Description: Real Time modules for linux-image-3.4.53-2-rtai
Depends: linux-image-3.4.53-2-rtai
