#!/usr/bin/make -f

KERNEL_VER ?= $(shell uname -r)

CONFIGURE := --enable-shm

CONFIGURE += --enable-fpu

CONFIGURE += --enable-cpus=8
CONFIGURE += --enable-rtdm

CONFIGURE += --enable-compat

CONFIGURE += --disable-leds
CONFIGURE += --disable-rtailab
CONFIGURE += --disable-netrpc

CONFIGURE += --with-linux-dir=/usr/src/linux-headers-$(KERNEL_VER)
CONFIGURE += --prefix=/usr/realtime-$(KERNEL_VER)

build: build-stamp
build-stamp:
	dh_testdir
	./autogen.sh
	./configure $(CONFIGURE)
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	rm -f build-stamp debian/rtai-modules-$(KERNEL_VER).files
	./configure $(CONFIGURE)
	$(MAKE) distclean -s
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	mkdir -p debian/tmp
	mkdir -p debian/tmp/etc/udev/rules.d
	$(MAKE) install DESTDIR=`pwd`/debian/tmp
	mkdir -p debian/tmp/lib/modules/$(KERNEL_VER)
	(cd debian/tmp; find -not -type d) > debian/rtai-modules-$(KERNEL_VER).files
	dh_movefiles

binary: binary-indep binary-arch
binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
